<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ditto" version="4.14.4-experimental-net-framework-support.1" targetFramework="net48" />
  <package id="Ditto.Native.Linux" version="4.14.4-experimental-net-framework-support.1" targetFramework="net48" />
  <package id="Ditto.Native.MacOS" version="4.14.4-experimental-net-framework-support.1" targetFramework="net48" />
  <package id="Ditto.Native.Win" version="4.14.4-experimental-net-framework-support.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="PeterO.Cbor" version="4.5.2" targetFramework="net48" />
  <package id="PeterO.Numbers" version="1.8.2" targetFramework="net48" />
  <package id="PeterO.URIUtility" version="1.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
</packages>