.build/
.classpath
.claude/
.cxx/
.dart_tool/
.DS_Store
.env
.externalNativeBuild/
.gradle/
.idea/
.project
.rubygems/
.settings
.swiftpm/
.vs/
.vscode/
*.dll
*.hprof
*.iml
*.xccheckout
*.xcscmblueprint
bazel-*
bin/
build-cmake
build/
Carthage/
cmake-build-debug/
heapdump.*.phd
javacore.*.txt
local.properties
node_modules/
obj/
packages/
Pods/
target/
xcuserdata
